<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Wine Cellar</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="">
    <header class="uk-padding-small">
      <h1>Digital Wine Cellar</h1>
      <nav class="">
        <!-- Conditionally render login or logout links -->
        <button class="uk-button"><a href="/community">Community Cellar</a></button>
        {{#if logged_in}}
        <button class="uk-button"><a href="/profile">Profile</a></button>
        <button class="no-button uk-button" id="logout">Logout</button>
        {{else}}
        <button class="uk-button"><a href="/">Login</a></button>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
