<div class="uk-grid">
  
  
  <div class="">
    <h2 class="uk-padding-small">Login</h2>

    <form class="form login-form uk-form-horizontal">
      <div class="uk-padding-small">
        <label for="email-login" class="uk-form-label">Email:</label>
        <input class="uk-form-controls" type="text" id="email-login" />
      </div>
      <div class="uk-padding-small">
        <label for="password-login" class="uk-form-label">Password:</label>
        <input class="uk-form-controls" type="password" id="password-login" />
      </div>
      <div class="uk-padding-small">
        <button class="btn uk-button" type="submit">Login</button>
      </div>
    </form>
  </div>
  
  
  <div class="">
    <h2 class="uk-padding-small">Signup</h2>

    <form class="signup-form uk-form-horizontal">
      <div class="uk-padding-small">
        <label for="InputName" class="uk-form-label">Name</label>
        <input type="string" class="form-control" id="InputName" />
      </div>
      <div class="uk-padding-small">
        <label for="InputEmail" class="uk-form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="InputEmail"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="uk-padding-small">
        <label for="InputPassword" class="uk-form-label">Password</label>
        <input type="password" class="form-control" id="InputPassword" />
      </div>
      <div class="uk-padding-small">
        <label for="checkbox" class="uk-form-label">Are you 21 or Older?</label>
        <input class="uk-checkbox" type="checkbox">
      </div>
      <button type="submit" class="btn uk-button">Submit</button>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>